* {
  outline: solid red;
  font-family:roboto;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul, .title p, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.title-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    width: 50%;
}

.title h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    border-radius: 4px;
}

.info-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-wrapper {
    display: flex;
    justify-content: space-around;
}

.quote-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.quote-tile {
    display: flex;
}

.quote-tile p {
    color: blue;
    width: 50%;
}

.quoter {
    display: flex;
    justify-content: flex-end;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}

.header, .title-wrapper, .footer {
    background-color: #1f2937;
}